.navbar {
  background-color: #95a5a6;
}

.quem-somos {
  background-color: #d6dbdf;
}
.margin {
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-circle {
  padding: 20px;
}
.parceiros {
  background-color: #e5e8e8;
}
